@using CarFuel.Model
@model Car
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.TextBox("Make")
    @Html.TextBox("Model")

    <div>
        <button id="btnAdd">
            Add
        </button>
    </div>

}