@using CarFuel.Model
@model Car
@{
    ViewBag.Title = "Create";
}
<h2>Create Car</h2>
@using (Html.BeginForm())
{
    <label>Brand Name @Html.TextBox("Make")</label>
    <br />
    <label>Car Model @Html.TextBox("Model")</label>
    <div>
        <button id="btnAdd" class="btn btn-success">
            Add
        </button>
    </div>

}